<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="../../public/CSS/admin_index.css">
    <link rel="stylesheet" href="../../public/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/CSS/font-awesome.min.css">
    <script src="../../public/JS/jquery.min.js"></script>
    <script src="../../public/JS/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../public/CSS/admin_goods.css">
    <link rel="stylesheet" href="../../public/CSS/admin_customer_update.css">
</head>
<body>
<div class="admin_goods">
    <div class="link-nav">
        <ul>
            <li><a herf="">商品管理 ></a></li>
            <li><a herf="">商品列表 ></a></li>
            <li> 信息修改</li>
        </ul>
    </div>
    <div class="update_user">
        <form action="/admin/doUpdateUser" method="post">
            <div class="update_user_content">
                <input type="hidden" value="{{userList.userID}}" name="userID">
                <div class="head_detail">
                    头像信息:
                    <div class="con4">
                        <span class="upload"><input type="file" name="user_head" value="{{userList.user_head}}" class="upload_pic" id="upload"></span>
                        <canvas id="cvs" width="200" height="200"></canvas>
                    </div>
                </div>
                <div class="user_detail">
                    账户信息:
                    <div class="update_user_name">
                        <input type="text" value="{{userList.user_name}}" name="update_name">
                    </div>
                </div>
                <div class="pass_detail">
                    密 码:
                    <div class="update_user_pass">
                        <input type="password" value="{{userList.user_pass}}" name="update_pass">
                    </div>
                </div>
                <div class=" update_detail_btn">
                    <button type="submit">确 认</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../../public/JS/jquery-1.12.4.js"></script>
<script>
    //上传头像
    //获取上传按钮
    var input1 = document.getElementById("upload");
    if(typeof FileReader === 'undefined') {
        //result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
        input1.setAttribute('disabled', 'disabled');
    } else {
        input1.addEventListener('change', readFile, false);
    }
    function readFile() {
        var file = this.files[0]; //获取上传文件列表中第一个文件
        if(!/image\/\w+/.test(file.type)) {
            //图片文件的type值为image/png或image/jpg
            alert("文件必须为图片！");
            return false;
        }
        // console.log(file);
        var reader = new FileReader(); //实例一个文件对象
        reader.readAsDataURL(file); //把上传的文件转换成url
        //当文件读取成功便可以调取上传的接口
        reader.onload = function(e) {
            var image = new Image();
            // 设置src属性
            image.src = e.target.result;
            var max = 200;
            // 绑定load事件处理器，加载完成后执行，避免同步问题
            image.onload = function() {
                // 获取 canvas DOM 对象
                var canvas = document.getElementById("cvs");
                // 获取 canvas的 2d 环境对象,
                var ctx = canvas.getContext("2d");
                // canvas清屏
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(image, 0, 0, 200, 200);
            };
        }
    };
</script>
</html>